<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ARETA</display-name>
  <listener>
    <listener-class>gov.servlet.InicioContexto</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>servletInicioSesion</servlet-name>
    <servlet-class>gov.servlet.usuario.ServletInicioSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletInicioSesion</servlet-name>
    <url-pattern>/servlet/servletInicioSesion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servletRegistro</servlet-name>
    <servlet-class>gov.servlet.usuario.ServletRegistro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletRegistro</servlet-name>
    <url-pattern>/servlet/servletRegistro</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>